# Dev environment
venv
.idea
cv-vertex-ai-trainer.iml
build
cv_vertex_ai_trainer.egg-info
__pycache__/

# Local downloads
dataset/
images_to_resize/
*.pt
*.zip

# Config files
config.toml
local.toml
remote.toml